body {
    font-family: sans-serif;
    background: #334455;
    padding: 0;
    margin: 0;
}

.field {
    width: 500px;
    height: 500px;
    background-color: #000000;
    clear: both;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
}

.field .gameover {
    font-size: 36px;
    color: #ff5555;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field .pixel {
    float: left;
    transition: all 0.1s ease-in;
}

.field .pixel.empty {}

.field .pixel.egg {
    background-color: #99aabb;
}

.field .pixel.shake {
    background-color: white;
}
